<div class="row">
  <div class="col-md-6">
    <h5>All Relations of {{countryService.country.name}}</h5>
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary" (click)="createRealtion()" style="float: right; padding: 2px;">
      Create new Relation
    </button>
  </div>
</div>
<div>
  <table>
    <tbody>
    <tr>
      <th>Id</th>
      <th>Country 1</th>
      <th>Country 2</th>
      <th>Relation Type</th>
    </tr>
    <tr *ngFor="let rel of relationService.relationNamedArray">
      <td>{{rel.relationId}}</td>
      <td>{{rel.countryName1}}</td>
      <td>{{rel.countryName2}}</td>
      <td>{{relationService.displayRelationType(rel.relationType)}}</td>
    </tr>
    </tbody>
  </table>
</div>
