<div>
  <h5>Create a new Country</h5>
</div>
<div>
  <form [formGroup]="createCountryForm" (ngSubmit)="save()">
    <div>
      <fieldset class="form-group required">
        <span>Country name: </span>
        <!-- Need to init value of input fields here, just for display, because OnInit CountryDetailsEdit only executes once -->
        <input type="text" class="form-control" formControlName="name">
      </fieldset>
      <fieldset class="form-group required">
        <span>Country details: </span>
        <input type="text" class="form-control" formControlName="details">
      </fieldset>
      <fieldset class="form-group required">
        <span>Country code: </span>
        <input type="text" class="form-control" formControlName="countryCode">
      </fieldset>
      <fieldset class="form-group required">
        <div class="row">
          <div class="dropdown col-md-4">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <span>Select a country</span>
            </button>
            <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a style="margin: 0; padding-left: 5px; padding-right: 0;" class="dropdown-item row"
                   *ngFor="let c of countryCodes.countries">
                  <div style="cursor: pointer;" (click)="selectCountry(c)">
                    <span class="flag-icon {{countryService.getFlag(c.Code)}} col-md-4"></span>
                    <span class="col-md-8">{{c.Name}}</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8" *ngIf="selectedCountry.id !== -1">
            <span style="background-color: white; border: 1px solid #dddddd; border-radius: 4px; padding: 6px; float: right;">{{selectedCountry.Name}}</span>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="row">
          <div class="dropdown col-md-4">
            <button class="btn btn-secondary dropdown-toggle" type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <span>Select a currency</span>
            </button>
            <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a style="margin: 0; padding-left: 5px; padding-right: 0;" *ngFor="let c of currArray"
                   class="dropdown-item" (click)="selectedCurrency = c">
                  <div>
                    <span>{{c.currencyName}}</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8" *ngIf="selectedCurrency.currencyName !== ''">
            <span style="background-color: white; border: 1px solid #dddddd; border-radius: 4px; padding: 6px; float: right;">{{selectedCurrency.currencyName}}</span>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div>
          <input #searchCountry class="form-control" (input)="filterCountries($event.target.value)" placeholder="Search country">
          <div class="row" *ngFor="let count of filteredCountries">
            <div
              style="margin-left: 15px; margin-right: 15px; background-color: white; border: 1px solid black; border-radius: 4px; margin-top: 5px; cursor: pointer; width: 100%; padding-left: 10px; padding-right: 15px;"
              (click)="selectCountry(count)">
              <span style="margin-right: 5px;" class="flag-icon {{countryService.getFlag(count.Code)}}"></span>
              <span [title]="count.Name">{{count.Name}}</span>
            </div>
          </div>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary">Save</button>
      <button style="margin-left: 5px;" type="button" class="btn btn btn-secondary" (click)="countryService.currentView = viewEnum.COUNTRYDETAIL">
        Cancel
      </button>
    </div>
  </form>
</div>
