<div class="panel row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-6">
        <h5>All Countries</h5>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" (click)="createCountry()" style="float: right; padding: 2px;">Create new
          Country
        </button>
      </div>
    </div>
    <table>
      <tbody>
      <tr>
        <th><span>Id</span></th>
        <th><span>Name</span></th>
        <th><span>Details</span></th>
        <th><span>Flag</span></th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let country of countryService.countryArray">
        <td><span>{{country.id}}</span></td>
        <td><span>{{country.name}}</span></td>
        <td><span>{{country.details}}</span></td>
        <td><span class="flag-icon {{countryService.getFlag(country.countryCode)}}"></span></td>
        <td>
          <button class="btn btn-secondary" (click)="editCountryDetails(country)" style="width: 100%; padding: 0;">
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-primary" (click)="showCountryDetails(country)" style="width: 100%; padding: 0;">Details
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div *ngIf="countryService.country.id !== -1">
      <app-country-details *ngIf="countryService.currentView === viewCountryEnum.COUNTRYDETAIL"></app-country-details>
    </div>
    <div *ngIf="(countryService.country.id === -1) && (countryService.currentView !== viewCountryEnum.COUNTRYCREATE)">
      <h5>No Country selected</h5>
    </div>
    <app-country-details-edit [country]="countryService.country"
                              *ngIf="countryService.currentView === viewCountryEnum.COUNTRYEDIT"></app-country-details-edit>
    <app-country-create *ngIf="countryService.currentView === viewCountryEnum.COUNTRYCREATE"></app-country-create>
  </div>
  <div class="col-md-4">
    <div *ngIf="countryService.country.id !== -1">
      <app-relation-info *ngIf="relationService.currentView === viewRelationEnum.RELATIONDETAIL"></app-relation-info>
      <app-relation-create
        *ngIf="relationService.currentView === viewRelationEnum.RELATIONCREATE"></app-relation-create>
    </div>
    <div *ngIf="countryService.country.id === -1">
      <h5>No Relations to display</h5>
    </div>
  </div>
</div>

<app-curreny-info *ngIf="countryService.country.id !== -1"></app-curreny-info>
