<div class="panel row">
  <div class="col-md-4">
    <div>
      <h5>All Countries</h5>
    </div>
    <table>
      <tbody>
      <tr>
        <th><span>Id</span></th>
        <th><span>Name</span></th>
        <th><span>Details</span></th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let country of countryArray">
        <td><span>{{country.id}}</span></td>
        <td><span>{{country.name}}</span></td>
        <td><span>{{country.details}}</span></td>
        <td>
          <button class="btn btn-secondary" (click)="editCountryDetails(country)" style="width: 100%; padding: 0;">
            Update me
          </button>
        </td>
        <td>
          <button class="btn btn-primary" (click)="showCountryDetails(country)" style="width: 100%; padding: 0;">Details
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <app-country-details *ngIf="!countryService.edit"></app-country-details>
    <app-country-details-edit [country]="countryService.country" *ngIf="countryService.edit"></app-country-details-edit>
  </div>
  <div class="col-md-4">
    <app-relation-info></app-relation-info>
  </div>
  <div style="margin-left: 15px; margin-top: 5px;">
    <button class="btn btn-primary" (click)="createCountry()">Create me</button>
  </div>
</div>
