/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import '~flag-icon-css/sass/flag-icon';

.panel {
  background-color: whitesmoke;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 15px;
  margin: 5px;
}

table {
  border: 1px solid black;
}

th {
  border: 1px solid black;
  width: 200px;
}

td {
  width: 200px;
  border: 1px solid black;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  cursor: pointer;
  transform: scale(1.4);
}
