<div>
  <h5>Selected Country</h5>
</div>
<div>
  <table>
    <tbody>
    <tr>
      <th><span>Id</span></th>
      <th><span>Name</span></th>
      <th><span>Details</span></th>
      <th><span>Currency</span></th>
      <th><span>Manpower Number</span></th>
      <th><span>Flag</span></th>
    </tr>
    <tr>
      <td><span>{{countryService.country.id}}</span></td>
      <td><span>{{countryService.country.name}}</span></td>
      <td>
        <span *ngIf="countryService.country.details !== ''">{{countryService.country.details}}</span>
        <span *ngIf="countryService.country.details === ''">-</span>
      </td>
      <td><span>{{countryService.currencyName}}</span></td>
      <td><span>{{countryService.totalManpowerNumber}}</span></td>
      <td><span class="flag-icon {{countryService.getFlag(countryService.country.countryCode)}}"></span></td>
    </tr>
    </tbody>
  </table>
</div>
